.items-container {
  position: relative;
  width: 500px;
  height: 300px;
  overflow: hidden;

  --transition-duration: 3000ms;
}

.item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


/*animations-lib*/

.item {
  visibility: hidden;
}

.item.current,
.item.enterActive,
.item.exitActive {
  visibility: visible;
}

/* animations */

.enter {
  transform: translateX(100%);
}

.enterActive {
  transform: translateX(0);
  transition: transform var(--transition-duration) cubic-bezier(0.87, 0, 0.13, 1);
}

.exit {
  transform: translateX(0);
}

.exitActive {
  transform: translateX(-100%);
  transition: transform var(--transition-duration) cubic-bezier(0.87, 0, 0.13, 1);
}



